<header class="bg-light text-center p-2 border">
  <h5>Simple Dashboard</h5>
</header>
<div class="d-flex">
  <app-sidenav></app-sidenav>
  <main id="main-panel" class="p-4 scroll-x">
    <h2 class="my-3">Daily Averages</h2>

    <div class="scroll-x d-flex my-2">
      <app-summary-card></app-summary-card>
      <app-summary-card></app-summary-card>
      <app-summary-card></app-summary-card>
      <app-summary-card></app-summary-card>
      <app-summary-card></app-summary-card>
    </div>
    <div class="mt-4"  id="table-container">
      <app-table></app-table>
    </div>
  </main>  
</div>
